body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-right: 2%;
}

nav a {
    text-decoration: none;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #9E3095;
}
nav a:hover {
    color: #6e2168;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
}

header img {
    max-width: 100%;
    height: auto;
    margin-left: 15%;
}

footer {
    background-color: whitesmoke;
    flex-shrink: 0;
}

.c3 {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.c3 li {
    list-style: none;
    padding-bottom: 10px;
}
.c3 p {
    font-size: 18px;
    font-weight: 600;
}
.c3 img {
    padding-top: 30px;
}
.space {
    padding-top: 35px;
}
.meny h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #9E3095;
    padding-top: 25px;
}
.meny {
    margin-left: 15%;
}
.meny li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #6e2168;
    padding-bottom: 10px;
}